.login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.error-message {
  font-size: 12px !important;
  color: red !important;
  margin: 10px !important;
}
.error-message::before {
  content: "❌ ";
}

.parent-hide-show {
  position: relative;
}

.position-hide-show {
  position: absolute;
  top: 30%;
  left: 90%;

  cursor: pointer;
}

.form {
  border-radius: 37px;
  background: #e0e0e0;
  box-shadow: 6px 6px 24px #bebebe, -6px -6px 24px #ffffff;
  min-height: 80vh;
}

::placeholder {
  text-align: center;
  color: #888 !important;
}
.input--style {
  text-align: center;
}
.icon-pos {
  margin-left: 0.2rem;
}
img {
  animation: moveInLeft 1.5s ease-in-out;
  -webkit-animation: moveInLeft 1.5s ease-in-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    /* both y and x direction 0 */
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

@media (max-width: 576px) {
  .login {
    grid-template-columns: repeat(1, 1fr);
  }
  .form {
    margin-top: 1rem;
    min-width: 100vw;
    min-height: 100%;
  }
  .img-container {
    width: 70% !important;
  }
  img {
    width: 100%;
  }
}

/* background-color: #000000;
background-image: ; */
