.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 576px) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    width: 70% !important;
    margin: 0 auto;
  }
}
