.nav-brand {
  color: #fff !important;
  font-size: 1.8rem !important;

  letter-spacing: 0.5rem !important;
  font-weight: 900 !important;
  background: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif),
    linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44) !important;
  background-size: cover !important;
  color: transparent !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;

  text-transform: capitalize !important;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3) !important;
}

.text-gradient {
  animation: ElementAnimation 1s ease-in-out infinite alternate;
  -webkit-animation: ElementAnimation 1s ease-in-out infinite alternate;
}
@keyframes ElementAnimation {
  0% {
    text-shadow: 0 0 5px rgba(0, 212, 255, 1), 0 0 10px rgba(0, 212, 255, 1),
      0 0 20px rgba(2, 0, 36, 1), 0 0 40px rgba(2, 0, 36, 1);
  }
  100% {
    text-shadow: 0 0 5px rgba(121, 9, 49, 1), 0 0 10px rgba(121, 9, 49, 1),
      0 0 20px rgba(121, 9, 49, 1), 0 0 40px rgba(121, 9, 49, 1);
  }
}

/* adding animation on the link(NavLink compo) */

a {
  animation: moveInLeft 1.5s ease-in-out;
  -webkit-animation: moveInLeft 1.5s ease-in-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    /* both y and x direction 0 */
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}
